body{
	background:#333;
}
.loginbox{
	background:white;
	 width:320px;
	  height:420px;
	   padding:40px;
	    overflow:hidden;
		margin-left:400px;
		margin-top:150px;
	    box-shadow:0px 0px 50px -7px black;
}
.loginbox input{
	width:89%;
	display:block;
	padding:18px;
	background:#f2f2f2;
	margin-bottom:20px;
	outline:none;
	border:none;
	font-size:20px;
}
.loginbtn{
	background:linear-gradient(#046126,#035220) !important;
	color:white;
	width:100% !important;
}
.loginbtn:hover{
	background:linear-gradient(#035220,#046126) !important;
	cursor:pointer;
}
.registered span{
	color:#b2b6b6
}
.registered{
	text-align:center;
	font-size:20px;
}
.registered a {
	color:#8a8787;
	text-decoration:none;
}
.loginbox h2{
	text-align:center;
	font-family:arial black;
	margin:0;
	font-size:30px;
	margin-bottom:20px;
	text-shadow:1px 1px 2px black;
	color:#444;
}
