import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
#mark{
	background:#9af5fe;color:black;
}
.salaryreport table {
	border-collapse:collapse;border-color:#ddd;margin-left:25%;margin-top:50px;
}
.salaryreport thead {
	background:tomato;color:white;text-align:center;font-family:arial black;text-transform:uppercase;
}
.salaryreport thead tr th {
	padding:12px;
}
.salaryreport tbody {
	text-align:center;
}
.salaryreport tbody tr td {
	padding:10px;
}
.salaryreport tbody tr:first-child{
	background:yellow;color:white;
}
.salaryreport tbody tr:last-child{
	background:yellow;color:white;
}
.salaryreport tbody tr:nth-child(odd){
	background:#ddd;color:black;
}
.salaryreport tbody tr:nth-child(even){
	background:#555;color:white;
}
#title{
	text-transform:capitalize;text-align:center;display:inline;border:1px solid #ddd;padding:25px;
	color:white;margin-left:300px;background:#555;font-family: 'Montserrat', sans-serif;font-size:40px;
}